:host,
.helper-event-interceptor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 900px;
  height: 280px;
}
.helper-event-interceptor {
  z-index: 3;
}
.canvas-helper {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 4px;
  min-height: 50px;
  min-width: 130px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 8px 12px;
  color: #9299a2;
  font-family: Calibri, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.4);
  display: none;
  z-index: 2;
  transition: .1s;
}
.canvas-helper__date,
.canvas-helper__data {
  font-size: 18px;
  display: block;
}
.helper-data__cost {
  font-size: 18px;
  line-height: 24px;
  color: #3e4757;
  display: inline-block;
  min-width: 48px;
}
