.canvas-outer {
  position: relative;
  max-width: 900px;
  min-height: 280px;
  margin: 20px auto;
}
.spinner-block {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
